.div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.input {
    width: 46rem;
    height: 3.375rem;
    border-radius: 8px;
    gap: 2;
    padding-horizontal: 1rem;
    paddind-bottom: 1rem;
    background: var(--gray-400);

    font-size: 16px;
    font-weight: 500;
    border: hidden;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--gray-700);

    color: var(--gray-100);

    &:focus {
        outline: none;
        border: solid 1px var(--green-dark);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 5.625rem;
    height: 3.25rem;
    border-radius: 8px;
    border: 1px solid transparent;
    background: var(--green);
    color: var(--gray-100);
    font-size: 16px;
}

.button:hover {
    background: var(--green-dark);
}